.top-cotainer{
  background-color: #E4f9F5;
  position: relative;
  padding-top: 100px;
}

.bottom-container{

  background-color: #66BFBF;
  padding: 50px 0 20px;

}

a{
 color: #11999E;
   font-family: 'Montserrat', sans-serif;
   margin: 10px 20px;
   text-decoration: none;
}

a:hover{
  color: #EAf6f6;
}

.copyright{
  color: #EAf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

.top-cloud{
position: absolute;
right: 250px;
top: 40px;
}

.bottom-cloud{
  position: absolute;
 
  bottom: 300px;
}


h1{

color: #66BFBF;
margin: 50px 0px 0px 0px;
font-family: 'Sacramento', cursive;
font-size: 5.625rem; // 90 px = (100% = 16px ) , (so 90px = 562.5%) (16 px = 1em)

}


h2{
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding: 10px;

}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}


.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: justify;


}

.skill-image-right{
  width: 28%;
    float: right;
    margin-left: 30px;

}

.image-me{
  width: 35%;
  margin-top: 100px;
}

hr{
 border-style: none;
 border-top-style: dotted;
 border-color: #EAf6f6;
 border-width: 6px;
 width: 4%;
 margin:100px auto;

}

.contact-me{
  margin: 80px auto;
}

.profile{
  margin: 50px auto;
  width: 35%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 40px;
}
.skill-image-left{
  width: 28%;
    float: left;
    margin-right: 30px;
}

p{
  line-height: 2;
}



body{
  color:#40514E;
  margin-top: 0px;
  text-align: center;

  font-family: 'Merriweather', serif;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199d);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199d);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199d);
  background-image: -o-linear-gradient(top, #11cdd4, #1199d);
  background-image: linear-gradient(to bottom, #11cdd4, #1199d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  margin-top: 50px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #24c4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #24c4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #24c4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #24c4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #24c4ad);
  text-decoration: none;
}
